/* Fuentes */

@font-face {
  font-family: "Alte-Haas-Grotesk-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Alte-Haas-Grotesk-Bold.ttf.woff") format("woff"),
    url("../fonts/Alte-Haas-Grotesk-Bold.ttf.svg#Alte-Haas-Grotesk-Bold")
      format("svg"),
    url("../fonts/Alte-Haas-Grotesk-Bold.ttf.eot"),
    url("../fonts/Alte-Haas-Grotesk-Bold.ttf.eot?#iefix")
      format("embedded-opentype");
  font-display: swap;
}
